
.header{
    padding: 5px 120px;
    width: 150px;
    height: 90px;
    color: #000000;
}
.msg{
    color: red;
}

.border{
    padding: 80px 50px;
    width: 400px;
    height: 500px;
    border: 1px solid #236B8E;
    border-radius: 0px;
    background-color: #e3e1e7;
}

.btn {
    padding: 10px 40px;
    background-color: #8a7cad;
    color: #000000;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
}

.textbox{
    padding: 10px 40px;
    background-color: #73b9dc;
    border-radius: 10px;
}
    
::placeholder {
    color: #000000;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    color: #819184;
    font-style: oblique;
    font-weight: bold;
}

.bottom{
    color: #1eca40;
    font-style: oblique;
    font-weight: bold;
    font-size:x-large;
}